<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.a5corp.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="true" android:fullBackupContent="@xml/backup_rules" android:icon="@mipmap/ic_launcher_x" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar">
        <activity android:label="@string/app_name" android:name=".GlobalActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="About" android:name=".activity.AboutActivity" android:parentActivityName=".activity.WeatherActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.a5corp.weather.activity.WeatherActivity" />
        </activity>
        <activity android:label="@string/title_activity_paytm_donate" android:name=".activity.PaytmDonateActivity" android:parentActivityName=".activity.WeatherActivity" android:theme="@style/AppTheme.NoActionBar">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.a5corp.weather.activity.WeatherActivity" />
        </activity>
        <activity android:label="@string/app_name" android:name=".activity.WeatherActivity" />
        <activity android:label="Enter City" android:name=".activity.FirstLaunch" />
        <activity android:label="License" android:name=".activity.LicenseActivity" />

        <service android:name=".widget.LargeWidgetService" />
        <service android:name=".widget.SmallWidgetService" />
        <service android:name=".service.NotificationService" />

        <receiver android:enabled="true" android:name=".receiver.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.UpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:name=".widget.LargeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/large_widget_info" />
        </receiver>
        <receiver android:enabled="true" android:name=".widget.SmallWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider" android:resource="@xml/small_widget_info" />
        </receiver>
    </application>

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><instrumentation android:name="com.zhauniarovich.bbtester.EmmaInstrumentation" android:targetPackage="test.package" /></manifest>